$background-color: #967552; //peach
$secondary-background: #ffeedc;

$primary-background-color: #c9a57e;
$font-heading: linear-gradient(
  90deg,
  rgb(209, 156, 110) 0%,
  rgb(228, 141, 48) 51%,
  rgb(196, 171, 46) 100%
); //gradient;

$font-para: #eed971; //custard
$font-para-dark-bg: #9c8409;
$font-text: #ffa351;

// $background-color:rgb(180, 149, 149); //peach
// $secondary-background: rgb(29, 27, 27);

// $primary-background-color:black;
// $font-heading: linear-gradient(
//   90deg,
//   rgb(209, 156, 110) 0%,
//   rgb(228, 141, 48) 51%,
//   rgb(196, 171, 46) 100%
// ); //gradient;

// $font-para: #eed971; //custard
// $font-para-dark-bg: #9c8409;
// $font-text: #ffa351;
